[buildout]
index = http://pypi.akbild.ac.at
find-links +=
    http://effbot.org/downloads/
parts = instance omelette
extends = http://dist.plone.org/release/4.2-latest/versions.cfg
unzip = true
develop = .

[instance]
recipe = plone.recipe.zope2instance
http-address = 8080
user = admin:admin
eggs =
    Pillow
    Plone
    collective.pfg.starrating
    plone.reload
    plone.app.debugtoolbar 

zcml = 
    collective.pfg.starrating
    plone.reload

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
